* {
  font-family: 'JetBrains Mono', 'Consolas', 'Consolaz', monospace;
  color: #cdd6f4;
}

*::selection {
  background-color: #efefef;
  color: #1e1e2e;
}

body {
  margin: 0px;
  background-color: #11111b;
}

nav {
  background-color: #1e1e2e;
  overflow-x: auto;
}

.navelement {
  padding: 10px;
  background-color: #1e1e2e;
  padding-bottom: 12px;
  cursor: pointer;
  width: fit-content;
  float: left;
  user-select: none;
}

.navelement.selected {
  padding-bottom: 10px;
  background-color: #181825;
  border-bottom: #cdd6f4 2px solid;
}

.navelement.disabled {
  background-color: #181825;
  font-style: italic;
  color: #6c7086;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(5px);
  left: 0px;
  top: 0px;
}

#loginpopup {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: fit-content;
  height: fit-content;
  padding: 10px;

  background-color: #1e1e2e;
  border-radius: 10px;
}
#usernamein {
  all: unset;
  background-color: #181825;
  border: none;
  outline: none;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
}
#passwdin {
  all: unset;
  background-color: #181825;
  border: none;
  outline: none;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
}
#submitlogin {
  all: unset;
  background-color: #181825;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  margin: 3px;
  border-radius: 5px;
}

#info {
  max-width: 50vw;
  margin: auto;
}

#chroomgrid {
  margin: auto;
  margin-top: 15px;
  display: grid;
  width: 50vw;
  height: 50vh;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.chat {
  background-color: #1e1e2e;
  height: 30vh;
  padding: 10px;
  border-radius: 5px;
  float: left;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.innerchat {
  background-color: #181825;
  height: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.msgsubmit {
  background-color: #181825;
  color: #cdd6f4;
}

.messagein {
  color: #cdd6f4;
  background-color: #181825;
}

.wsmention {
  color: #fab387;
}

.wsdetail {
  color: #a6adc8;
}

.wswarning {
  color: #f38ba8;
}

.chat.default {
  border: #cdd6f4 2px solid;
  padding: 8px;
}

.chattitle {
  margin: 0px;
}

.chatdesc {
  margin: 0px;
}