@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    font-family: 'JetBrains Mono', 'Consolas', 'Consolaz', monospace;
    color: #efefef;
}

*::selection {
    background-color: #efefef;
    color: #3f3f3f;
}

body {
    margin: 0px;
    min-height: 100%;
    background-color: #0f0f0f;
}

#chathistory {
    height: 50vh;
    max-width: 50vw;
    width: 500px;
    background-color: #1a1a1a;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    scroll-behavior: smooth;
    overflow-y: auto;
}

#chatbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #272727;
    padding: 10px;
    border-radius: 5px;
}

#chatinput {
    user-select: none;
}

#msgsubmit {
    all:unset;
    width: calc(25% - 30px);
    text-align: center;
    background-color: #1f1f1f;
    color: #efefef;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

#messagein {
    user-select: text;
    all: unset;
    width: 75%;
    padding: 5px;
    color: #efefef;
    background-color: #1f1f1f;
    border-radius: 5px;
}

input {
    outline: none;
}

.wsmessage {
    margin: 0px;
}

.wsdetail {
    font-style: italic;
    color: #cfcfcf;
    margin: 0px;
}